# xhc-hb04 mpg pendant
SUBSYSTEM=="usb", ATTRS{idProduct}=="eb70", ATTRS{idVendor}=="10ce", MODE="0666", OWNER="root", GROUP="plugdev", TAG+="uaccess"
